

services:
  backend:
    build: .
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - psqldb
    environment:
       - SECRET_KEY=test
       - DEBUG=True

  psqldb: 
    image: postgres:18-alpine
    container_name: backend_db
    restart : always
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    environment:
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: postgres
       POSTGRES_DB: mydb
    ports:
      - "5432:5432"
