{% for activity in activities %}
    {% if activity.activity_type == 'goodreads' %}
        <h3>{{ activity.activity_type }}</h3>
        <ul>
            {% for item in activity.activity_detail %}
                <li>
                    {{ item.title }} — {{ item.author }}  
                    <small>Read at: {{ item.read_data }}</small>
                </li>
            {% endfor %}
        </ul>

    {% elif activity.activity_type == 'trakt' %}
        <h3>{{ activity.activity_type }}</h3>
        <ul>
            {% for item in activity.activity_detail %}
                <li>
                    {{ item.type }} — {{ item.title }}  
                    <small>Watched at: {{ item.watched_at }}</small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
